body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.hidden {
    display: none;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#sign-up-box {
    width: 650px; /* Increase the width */
    padding: 40px;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: #1e1e1e;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
}

h1, h2 {
    margin-bottom: 20px;
    color: #f2f2f2;
}

.role-options {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
}

.role-option {
    font-size: 22px; /* Increase font size */
    color: #007bff;
    cursor: pointer;
    padding: 15px 40px;
    border: 2px solid #007bff;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.role-option:hover {
    background-color: #007bff;
    color: white;
}

form {
    width: 650px; /* Match the width of the sign-up box */
    margin: 20px auto;
    padding: 30px;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: #1e1e1e;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
}

label, input, select, button {
    display: block;
    width: calc(100% - 20px); /* Align with padding */
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #333;
    color: #f2f2f2;
}

.verification {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.verification input {
    width: calc(65% - 10px); /* Adjust for container padding */
}

.verification button {
    width: calc(35% - 10px); /* Adjust for container padding */
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.verification button:hover {
    background-color: #0056b3;
}

